select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

::selection {
	background: #8E54E9;
	color: #FFFFFF;
	text-shadow: none;
}

::-moz-selection {
	background: #8E54E9;
	color: #FFFFFF;
	text-shadow: none;
}

input[type=text] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* TODO - need to move to responsive.css */
.drp-calendar.right {
  	display: none !important;
}
.drp-calendar.left {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
