select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

::selection {
	background: #8E54E9;
	color: #FFFFFF;
	text-shadow: none;
}

::-moz-selection {
	background: #8E54E9;
	color: #FFFFFF;
	text-shadow: none;
}

input[type=text] {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.recharts-legend-item {
	display: block !important;
	margin-bottom: 10px !important;
	margin-top: 0px !important;
	width: auto !important;
	float: none !important;
}

.recharts-legend-item-text {
	float: none !important;
	font-size: 14px;
	font-family: "Barlow";
	color: #6e6e6e;
}
.recharts-legend-wrapper {
	top: 5px !important;
	right: 20px !important;
}
